<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Viz.js</title>
  </head>
  <body>
    
    <script type="text/vnd.graphviz" id="cluster">

    digraph G {
        graph[overlap=false, splines=true]
    
        fontsize = 8

        node [
            fontsize = 8
            shape = record
        ];

        edge [
            fontsize = 8
        ];
    

        "Album" [label="{\
            Album|\
            AlbumId : INTEGER\l\
Title : NVARCHAR\l\
ArtistId : INTEGER\l\
        }"]
    

        "Customer" [label="{\
            Customer|\
            CustomerId : INTEGER\l\
FirstName : NVARCHAR\l\
LastName : NVARCHAR\l\
Company : NVARCHAR\l\
Address : NVARCHAR\l\
City : NVARCHAR\l\
State : NVARCHAR\l\
Country : NVARCHAR\l\
PostalCode : NVARCHAR\l\
Phone : NVARCHAR\l\
Fax : NVARCHAR\l\
Email : NVARCHAR\l\
SupportRepId : INTEGER\l\
        }"]
    

        "Playlist" [label="{\
            Playlist|\
            PlaylistId : INTEGER\l\
Name : NVARCHAR\l\
        }"]
    

        "Artist" [label="{\
            Artist|\
            ArtistId : INTEGER\l\
Name : NVARCHAR\l\
        }"]
    

        "Track" [label="{\
            Track|\
            TrackId : INTEGER\l\
Name : NVARCHAR\l\
AlbumId : INTEGER\l\
MediaTypeId : INTEGER\l\
GenreId : INTEGER\l\
Composer : NVARCHAR\l\
Milliseconds : INTEGER\l\
Bytes : INTEGER\l\
UnitPrice : NUMERIC\l\
        }"]
    

        "Employee" [label="{\
            Employee|\
            EmployeeId : INTEGER\l\
LastName : NVARCHAR\l\
FirstName : NVARCHAR\l\
Title : NVARCHAR\l\
ReportsTo : INTEGER\l\
BirthDate : DATETIME\l\
HireDate : DATETIME\l\
Address : NVARCHAR\l\
City : NVARCHAR\l\
State : NVARCHAR\l\
Country : NVARCHAR\l\
PostalCode : NVARCHAR\l\
Phone : NVARCHAR\l\
Fax : NVARCHAR\l\
Email : NVARCHAR\l\
        }"]
    

        "MediaType" [label="{\
            MediaType|\
            MediaTypeId : INTEGER\l\
Name : NVARCHAR\l\
        }"]
    

        "InvoiceLine" [label="{\
            InvoiceLine|\
            InvoiceLineId : INTEGER\l\
InvoiceId : INTEGER\l\
TrackId : INTEGER\l\
UnitPrice : NUMERIC\l\
Quantity : INTEGER\l\
        }"]
    

        "Invoice" [label="{\
            Invoice|\
            InvoiceId : INTEGER\l\
CustomerId : INTEGER\l\
InvoiceDate : DATETIME\l\
BillingAddress : NVARCHAR\l\
BillingCity : NVARCHAR\l\
BillingState : NVARCHAR\l\
BillingCountry : NVARCHAR\l\
BillingPostalCode : NVARCHAR\l\
Total : NUMERIC\l\
        }"]
    

        "PlaylistTrack" [label="{\
            PlaylistTrack|\
            PlaylistId : INTEGER\l\
TrackId : INTEGER\l\
        }"]
    

        "Genre" [label="{\
            Genre|\
            GenreId : INTEGER\l\
Name : NVARCHAR\l\
        }"]
    
	edge [
		arrowhead = empty
	]
	edge [
		arrowhead = ediamond
		arrowtail = open
	]
	"Album" -> "Artist" [label = "ArtistId"]
	"Customer" -> "Employee" [label = "SupportRepId"]
	"Track" -> "Album" [label = "AlbumId"]
	"Track" -> "MediaType" [label = "MediaTypeId"]
	"Track" -> "Genre" [label = "GenreId"]
	"Employee" -> "Employee" [label = "ReportsTo"]
	"InvoiceLine" -> "Invoice" [label = "InvoiceId"]
	"InvoiceLine" -> "Track" [label = "TrackId"]
	"Invoice" -> "Customer" [label = "CustomerId"]
	"PlaylistTrack" -> "Playlist" [label = "PlaylistId"]
	"PlaylistTrack" -> "Track" [label = "TrackId"]
}
</script>
    
    <script src="{{ url_for('static', filename='viz.js') }}"></script>
    <script>
      
      function inspect(s) {
        return "<pre>" + s.replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/\"/g, "&quot;") + "</pre>"
      }
      
      function src(id) {
        return document.getElementById(id).innerHTML;
      }
      
      function example(id, format) {
        var result;
        try {
          result = Viz(src(id), format);
          if (format === "svg")
            return result;
          else
            return inspect(result);
        } catch(e) {
          return inspect(e.toString());
        }
      }
      
      document.body.innerHTML += "<p>dot examples from the <a href=\"http://graphviz.org/Gallery.php\">Graphviz gallery</a>. neato example from the NEATO User's Manual.</p>"
      
      document.body.innerHTML += "<h1>Cluster (svg output)</h1>";
      document.body.innerHTML += example("cluster", "svg");
      
      document.body.innerHTML += "<h1>Cluster (plain output)</h1>";
      document.body.innerHTML += example("cluster", "plain");
      
      document.body.innerHTML += "<h1>Cluster (xdot output)</h1>";
      document.body.innerHTML += example("cluster", "xdot");
      
    </script>
    
  </body>
</html>